<br><div id="pickup">PickUp</div><br>
<table>
  <tr>
    <td>Email: </td>
    <td><input type="text"></td> 
  </tr>
  <tr>
    <td>Password: </td>
    <td><input type="text"></td> 
  </tr>
</table>
<form action="/games">
	<input type="hidden" name="sport1" value="1">
	<input type="hidden" name="sport2" value="2">
	<input type="hidden" name="sport3" value="3">
	<input type="hidden" name="sport4" value="4">
	<input type="hidden" name="sport5" value="5">
    <input type="submit" value="Login" />
</form>

<a href="/auth/reg1">Register an account.</a>
