<b>Register</b><br>
Email: <input type="text"><br>
First Name: <input type="text"><br>
Last Name: <input type="text"><br>
Password: <input type="text"><br>
Re-enter Password: <input type="text"><br>
<form action="/auth/login">
    <input type="submit" value="Back" />
</form>
<form action="/auth/reg2">
    <input type="submit" value="Next" />
</form>
