<b>Register</b><br>
<table>
  <tr>
    <td>Email: </td>
    <td><input type="text"></td> 
  </tr>
  <tr>
    <td>First Name: </td>
    <td><input type="text"></td> 
  </tr>
  <tr>
    <td>Last Name: </td>
    <td><input type="text"></td> 
  </tr>
  <tr>
    <td>Password: </td>
    <td><input type="text"></td> 
  </tr>
  <tr>
    <td>Re-enter Password: </td>
    <td><input type="text"></td> 
  </tr>
  <tr><td><br></td><td><br></td></tr>
  <tr>
	  <td>
	  	<center>
	 		<form action="/auth/login">
	   			<input type="submit" value="Back" />
			</form>
		</center>
	</td>
	<td>
		<center>
			<form action="/auth/reg2">
				<input type="submit" value="Next" />
			</form>
		</center>
	</td>
	</center>
  </tr>
</table>