<b>Register</b><br>
Write a short bio about yourself: <input type="text"><br>
Enter your age: <input type="text"><br>
<form action="/auth/reg1">
    <input type="submit" value="Back" />
</form>
<form action="/auth/reg3">
    <input type="submit" value="Next" />
</form>