<b>Register</b><br>
<table>
  <tr>
    <td>Write a short bio about yourself: </td>
    <td><input type="text"></td> 
  </tr>
  <tr>
    <td>Enter your age: </td>
    <td><input type="number"></td> 
  </tr>
  <tr><td><br></td><td><br></td></tr>
  <tr>
	  <td>
	  	<center>
	 		<form action="/auth/reg1">
    			<input type="submit" value="Back" />
			</form>
		</center>
	</td>
	<td>
		<center>
			<form action="/auth/reg3">
    			<input type="submit" value="Next" />
			</form>
		</center>
	</td>
	</center>
  </tr>
</table>