<h1>Editing Friendship Invitation</h1>

<%= render 'form', friendship_invitation: @friendship_invitation %>

<%= link_to 'Show', @friendship_invitation %> |
<%= link_to 'Back', friendship_invitations_path %>
